<style>
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Libre+Franklin|Montserrat&display=swap');
</style>
header h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 4em;
  text-align:center;
}
section {
  min-height: 90vh
}
.content {
color : #black;
max-width: 680px;

}
#fable01{
background: white;
border : 10px solid #00FF00;
display : inline-flex;
align-items: flex-end;

}
#fable01 {
  background: white;


}
#fable01 h1{
font-family: 'Montserrat', sans-serif;
font-size:5em;
color: #00FF00;
}
#fable01 p{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.25em;
}

#fable02 {
background:#fff url('images/loup.png');
background-size:cover ;
border : 10px solid #0000FF;
display : inline-flex;
align-items: flex-end;
}

#fable02 h2{
font-family: 'Montserrat', sans-serif;
font-size:5em;
color: #0000FF;
}
#fable02 p{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.25em;
}
